<table id="bizcanvas" class="table">
    <tr>
        <td colspan="5">
            <h4><i class="icon-question-sign icon-2x" tooltip-placement="right"
                   tooltip="Problems that your solution is solving"></i> Problem</h4>

            <div class="span5 select2-container select2-container-multi input-large" ng-click="openDialog(sections[0])"
                 id="s2id_autogen1">
                <div>{{problem.data}}</div>
            </div>
            <div id="wrapper">
                <p>This is a basic tag input:
                    <input id="tag1" value="alpha,beta,gamma" tags-input=""/>
                </p>
                <div ng-click="openDialog(problem) class="select2-container select2-container-multi" id="s2id_autogen3" style="width: 300px;">
                    <ul class="select2-choices">
                        <li ng-repeat="tag in (problem.tags | stringToArray)" class="select2-search-choice">
                            <div>{{tag}}</div>
                        </li>
                    </ul>
                </div>
            </div>


        </td>
        <td colspan="5">
            <h4>{{solution.data}} <i class="icon-lightbulb icon-2x" tooltip-placement="right"
                                     tooltip="{{sections[1].description}}"></i></h4>
            <div ng-click="openDialog(solution)" class="span6 select2-container select2-container-multi" id="s2id_autogen3">
                <ul class="select2-choices">
                    <li ng-repeat="tag in (solution.tags | stringToArray)" class="select2-search-choice">
                        <div>{{tag}}</div>
                    </li>
                </ul>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2" rowspan="2">
            <h4>{{sections[2].title}}<i class="icon-trophy icon-2x" tooltip-placement="right"
                                        tooltip="{{sections[2].description}}"></i></h4>
            <textarea rows="17" ng-click="openDialog(sections[2])" ng-model=sections[2].text></textarea>
        </td>
        <td colspan="2">
            <h4>{{sections[3].title}} <i class="icon-tasks icon-2x" tooltip-placement="right"
                                         tooltip="{{sections[3].description}}"></i></h4>
            <textarea rows="7" ng-click="openDialog(sections[3])" ng-model=sections[3].text></textarea>
        </td>
        <td colspan="2" rowspan="2">
            <h4>{{sections[4].title}}<i class="icon-gift icon-2x" tooltip-placement="right"
                                        tooltip="{{sections[4].description}}"></i></h4>
            <textarea rows="17" ng-click="openDialog(sections[4])" ng-model=sections[4].text></textarea>
        </td>
        <td colspan="2">
            <h4>{{sections[5].title}}<i class="icon-heart icon-2x" tooltip-placement="right"
                                        tooltip="{{sections[5].description}}"></i></h4>
            <textarea rows="7" ng-click="openDialog(sections[5])" ng-model=sections[5].text></textarea>
        </td>
        <td colspan="2" rowspan="2">
            <h4>{{sections[6].title}} <i class="icon-sitemap icon-2x" tooltip-placement="right"
                                         tooltip="{{sections[6].description}}"></i></h4>
            <textarea rows="17" ng-click="openDialog(sections[6])" ng-model=sections[6].text></textarea>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <h4>{{sections[7].title}}<i class="icon-bolt icon-2x" tooltip-placement="right"
                                        tooltip="{{sections[7].description}}"></i></h4>
            <textarea rows="7" ng-click="openDialog(sections[7])" ng-model=sections[7].text></textarea>
        </td>
        <td colspan="2">
            <h4>{{sections[8].title}}<i class="icon-truck icon-2x" tooltip-placement="right"
                                        tooltip="{{sections[8].description}}"></i></h4>
            <textarea rows="7" ng-click="openDialog(sections[8])" ng-model=sections[8].text></textarea>
        </td>

    </tr>
</table>