<!--<div ng-controller="ExperimentsDialogController">-->
    <!--&lt;!&ndash;<fieldset>&ndash;&gt;-->
        <!--&lt;!&ndash;<legend>Did you do all of this?</legend>&ndash;&gt;-->
        <!--<ul id="todo-list" class="checklist">-->
            <!--<li ng-repeat="item in projectChecklistSteps">-->
                <!--<input class="toggle" type="checkbox" ng-model="item.done" ng-change="editChecklistStep(item)">-->
                <!--<label>{{getChecklistStepQuestion(item)}}</label>-->
                <!--&lt;!&ndash;<input ng-model="item.value"></input>&ndash;&gt;-->
            <!--</li>-->
        <!--</ul>-->
    <!--&lt;!&ndash;</fieldset>&ndash;&gt;-->
<!--</div>-->
