<div class="span4">
    <iframe width="300" height="169" src="http://www.youtube.com/embed/Gt-rwCUWfqw" frameborder="0" allowfullscreen></iframe>
</div>
<div class="span4">
    <iframe width="300" height="169" src="http://www.youtube.com/embed/xTtvwAmjais" frameborder="0" allowfullscreen></iframe>
</div>
<div class="span3">
     <h4>Additional resources</h4>
    <ul>
        <li>
            <a href="http://www.deviantbits.com/blog/the-lean-startup-in-a-nutshell-i-foundations.html">Lean startup, a short summary</a><br/>
        </li>
        <li>    <a href="http://paulgraham.com/startupideas.html">How to get ideas for a startup</a><br/>
        </li>
        <li>    <a href="http://www.ashmaurya.com/2010/03/bootstrapping-a-lean-startup/">How to bootstrap a startup</a><br/>
        </li>
    </ul>
</div>
