<div ng-controller="ChecklistController">
    <div class="row">
        <div class="span11">
            <h3 class="offset1">Progress: </h3> <progress value="progressValue" class="progress-striped active"></progress>
        </div>
    </div>

    <div ng-repeat="sectionType in sectionTypes">
        <h3 class="offset1">{{sectionType.title}}</h3>
        <div class="row">
            <div class="span11">
                <ul id="todo-list" class="checklist">
                    <li ng-repeat="item in getProjectChecklistSteps(sectionType)">
                        <input class="toggle" type="checkbox" ng-model="item.done" ng-change="editChecklistStep(item)">
                        <label>{{item.checklist_step.title}}</label>
                    </li>
                </ul>
            </div>
            <div class="span4">
                <h4><i class="icon-tags" tooltip-placement="right" tooltip="Add shorts tags to summarize the concept"></i> {{sectionType.title}}</h4>
                <tag-input class="tagsCanvas" ng-model="getProjectSection(sectionType).tags"/>
            </div>
        </div>

    </div>

</div>

