<h4>Export business plan...</h4>
<button class="btn btn-danger" ng-click="toastr.info('Thank you for your interest. We are working on this!', 'Coming soon!')">Export to .pdf</button>
<button class="btn btn-danger" ng-click="toastr.info('Thank you for your interest. We are working on this!', 'Coming soon!')">Export to .doc</button>
<h4>Export business model canvas...</h4>
<button class="btn btn-danger" ng-click="toastr.info('Thank you for your interest. We are working on this!', 'Coming soon!')">Export to .pdf</button>
<button class="btn btn-danger" ng-click="toastr.info('Thank you for your interest. We are working on this!', 'Coming soon!')">Export to .jpg</button>
<h4>Export financial calculations...</h4>
<button class="btn btn-danger" ng-click="toastr.info('Thank you for your interest. We are working on this!', 'Coming soon!')">Export to .pdf</button>
<button class="btn btn-danger" ng-click="toastr.info('Thank you for your interest. We are working on this!', 'Coming soon!')">Export to .xls</button>
