<secondaryheader id="secondaryheader">
    <div class="row">
        <div class="span4 center">
            <ul class="breadcrumb nav nav-tabs">
                <li>
                    <a ng-class="{active: isCurrentView('revenuesandexpenses')}"
                       ng-click="changeView('revenuesandexpenses')"><i class="icon-home"></i> Revenues and Expenses</a>
                </li>
                <li>
                    <a ng-class="{active: isCurrentView('financialIndicators')}"
                       ng-click="changeView('financialIndicators')"><i class="icon-signal"></i> Graph</a>
                </li>
            </ul>
        </div>
    </div>
</secondaryheader>


<div class="finance" ng-include='getCurrentView()'>
</div>

