<div class="navbar" id="mainFooter">
    <div class="row">

    <div class="span2" class="pull-left">
        <div class="pull-left">

            <ul class="breadcrumb nav nav-tabs pull-right">
                <li ng-class="{active: routeIs('/checklist')}"><a href="#/checklist"><i class="icon-ok-sign"></i>Checklist</a>
                </li>
            </ul>

        </div>

    </div>
    <div class="span8" class="pull-left">
        <a href="#/checklist">
            <div id="projectProgress" class="progress progress-striped">
                <div class="bar" style="width: 40%;"></div>
            </div>
        </a>
    </div>
    <div class="span2" class="pull-right">
        <div class="pull-right">

            <ul class="breadcrumb nav nav-tabs pull-right">
                <li ng-class="{active: routeIs('/checklist')}"><a href="#/checklist"><i class="icon-circle-arrow-right"></i>Next step</a>
                </li>
            </ul>

        </div>

    </div>
    </div>

    <div class="navbar-inner">
        <div class="container">
            <ul class="nav nav-pills pull-left">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="http://blog.startupality.com" target="_blank">Blog</a>
                </li>
                <li>
                    <a href="http://www.startupality.com" target="_blank">About</a>
                </li>
                <li class="pull-right">
                    <a href="#">Contact</a>
                </li>
            </ul>
            <ul class="nav nav-pills pull-right">
                <li>
                    <a href="#">Go to top</a>
                </li>
            </ul>

        </div>
    </div>
</div>