<div ng-controller="GoalsController">
    <div class='contentWrapper ng-cloak'>
        <div class='content'>

            <div class="row-fluid">
                <div class="columnContainer tasksContainer">

                    <div class="columnHeader">
                        <h2><i class="icon-rocket"></i> Backlog
                            <button class="btn" ng-click="addCard('board1')">Add Task</button>
                        </h2>
                    </div>

                    <ul class="columnAdd">
                    <li ng-show="isBeingAdded()">
                        <div class="edit-card">
                            <form ng-submit="doneAdding()">
                                <input class="cardEditable" todo-focus="isBeingAdded()"
                                       todo-blur="doneAdding()" placeholder="Some task" ng-model="cardBeingAdded.title">
                                <div class="btn-group">
                                    <button ng-click="removeCard(board1, item)" class="btn" type="button" tooltip-placement="top" tooltip="Delete"><i
                                            class="icon-trash"></i></button>
                                    <button ng-click="doneAdding(item)" class="btn" type="button" tooltip-placement="top" tooltip="Save"><i
                                            class="icon-save"></i></button>
                                </div>
                            </form>
                        </div>
                    </li>
                    </ul>
                    <ul class="column" sortable-selector="ul.column" sortable ng-model="board1">
                        <li ng-repeat="item in board1" ng-dblclick="editCard(item)">
                            <div class="btn btn-info btn-draggable" ng-hide="isBeingEdited(item)">
                                {{item.title}}
                            </div>
                            <div class="edit-card" ng-show="isBeingEdited(item)">
                                <form ng-submit="doneEditing(item)">
                                    <input class="cardEditable" todo-focus="isBeingEdited(item)"
                                           todo-blur="doneEditing(item)" placeholder="Some task" ng-model="item.title">
                                    <div class="btn-group">
                                        <button ng-click="removeCard(board1, item)" class="btn" type="button" tooltip-placement="top" tooltip="Delete"><i
                                                class="icon-trash"></i></button>
                                        <button ng-click="doneEditing(item)" class="btn" type="button" tooltip-placement="top" tooltip="Save"><i
                                                class="icon-save"></i></button>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="columnContainer tasksContainer">
                    <div class="columnHeader">
                        <h2><i class="icon-check-empty"></i> Todo
                        </h2>
                    </div>
                    <ul class="column todo" sortable-selector="ul.column" sortable ng-model="board2">
                        <li ng-repeat="item in board2" ng-dblclick="editCard(item)">
                            <div class="btn btn-info btn-draggable" ng-hide="isBeingEdited(item)">
                                {{item.title}}
                            </div>
                            <div class="edit-card" ng-show="isBeingEdited(item)">
                                <form ng-submit="doneEditing(item)">
                                    <input class="cardEditable" todo-focus="isBeingEdited(item)"
                                           todo-blur="doneEditing(item)" placeholder="Some task" ng-model="item.title">
                                    <div class="btn-group">
                                        <button ng-click="removeCard(board1, item)" class="btn" type="button" tooltip-placement="top" tooltip="Delete"><i
                                                class="icon-trash"></i></button>
                                        <button ng-click="doneEditing(item)" class="btn" type="button" tooltip-placement="top" tooltip="Save"><i
                                                class="icon-save"></i></button>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="columnContainer tasksContainer">
                    <div class="columnHeader">
                        <h2><i class="icon-check-minus"></i> Doing
                        </h2>
                    </div>
                    <ul class="column doing" sortable-selector="ul.column" sortable ng-model="board3">
                        <li ng-repeat="item in board3" ng-dblclick="editCard(item)">
                            <div class="btn btn-info btn-draggable" ng-hide="isBeingEdited(item)">
                                {{item.title}}
                            </div>
                            <div class="edit-card" ng-show="isBeingEdited(item)">
                                <form ng-submit="doneEditing(item)">
                                    <input class="cardEditable" todo-focus="isBeingEdited(item)"
                                           todo-blur="doneEditing(item)" placeholder="Some task" ng-model="item.title">
                                    <div class="btn-group">
                                        <button ng-click="removeCard(board1, item)" class="btn" type="button" tooltip-placement="top" tooltip="Delete"><i
                                                class="icon-trash"></i></button>
                                        <button ng-click="doneEditing(item)" class="btn" type="button" tooltip-placement="top" tooltip="Save"><i
                                                class="icon-save"></i></button>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="columnContainer tasksContainer">
                    <div class="columnHeader">
                        <h2><i class="icon-check"></i></i> Done
                        </h2>
                    </div>
                    <ul class="column done" sortable-selector="ul.column" sortable ng-model="board4">
                        <li ng-repeat="item in board4" ng-dblclick="editCard(item)">
                            <div class="btn btn-info btn-draggable" ng-hide="isBeingEdited(item)">
                                {{item.title}}
                            </div>
                            <div class="edit-card" ng-show="isBeingEdited(item)">
                                <form ng-submit="doneEditing(item)">
                                    <input class="cardEditable" todo-focus="isBeingEdited(item)"
                                           todo-blur="doneEditing(item)" placeholder="Some task" ng-model="item.title">
                                    <div class="btn-group">
                                        <button ng-click="removeCard(board1, item)" class="btn" type="button" tooltip-placement="top" tooltip="Delete"><i
                                                class="icon-trash"></i></button>
                                        <button ng-click="doneEditing(item)" class="btn" type="button" tooltip-placement="top" tooltip="Save"><i
                                                class="icon-save"></i></button>
                                    </div>
                                </form>
                            </div>
                        </li>
                    </ul>

                </div>

            </div>

        </div>

    </div>


</div>
