<div ng-controller ="GoalsController">
    <div class='contentWrapper ng-cloak'>
                <div class='content'>

                <div class="row-fluid">
                    <div class="columnContainer">

                    <div class="columnHeader">
                        <h2><i class="icon-rocket"></i>Ideas
                        <button class="btn" ng-click="addCard(board1, 'board1')">Add a card</button>
                        </h2>
                    </div>
                    <ul class="column" sortable-selector="ul.column" sortable ng-model="board1">

                        <li ng-repeat="item in board1" ng-dblclick="editCard(item)">
                            <div class="btn btn-info btn-draggable" ng-hide="isBeingEdited(item)">
                                {{item.title}}
                            </div>
                            <form ng-submit="doneEditing(item)" ng-show="isBeingEdited(item)">
                                <input class="cardEditable" todo-focus="isBeingEdited(item)" todo-blur="doneEditing(item)" ng-model="item.title">
                                <button ng-click="removeCard(board4, item)" class="removeCard btn" type="button">X</button>
                            </form>
                        </li>
                    </ul>
                </div>
                    <div class="columnContainer">
                    <div class="columnHeader">
                        <h2><i class="icon-check-empty"></i>Todo
                            <button class="btn" ng-click="addCard(board2, 'board2')">Add a card</button>
                        </h2>
                    </div>
                    <ul class="column" sortable-selector="ul.column" sortable ng-model="board2">
                        <li ng-repeat="item in board2" ng-dblclick="editCard(item)">
                            <div class="btn btn-info btn-draggable" ng-hide="isBeingEdited(item)">
                                {{item.title}}
                            </div>
                            <form ng-submit="doneEditing(item)" ng-show="isBeingEdited(item)">
                                <input class="cardEditable" todo-focus="isBeingEdited(item)" todo-blur="doneEditing(item)" ng-model="item.title">
                                <button ng-click="removeCard(board4, item)" class="removeCard btn" type="button">X</button>
                            </form>
                        </li>
                    </ul>
                </div>
                    <div class="columnContainer">
                    <div class="columnHeader">
                        <h2><i class="icon-check-minus"></i>Doing
                            <button class="btn" ng-click="addCard(board3, 'board3')">Add a card</button>
                        </h2>
                    </div>
                    <ul class="column" sortable-selector="ul.column" sortable ng-model="board3">
                        <li ng-repeat="item in board3" ng-dblclick="editCard(item)">
                            <div class="btn btn-info btn-draggable" ng-hide="isBeingEdited(item)">
                                {{item.title}}
                            </div>
                            <form ng-submit="doneEditing(item)" ng-show="isBeingEdited(item)">
                                <input class="cardEditable" todo-focus="isBeingEdited(item)" todo-blur="doneEditing(item)" ng-model="item.title">
                                <button ng-click="removeCard(board4, item)" class="removeCard btn" type="button">X</button>
                            </form>
                        </li>
                    </ul>
                    </div>
                    <div class="columnContainer">
                    <div class="columnHeader">
                        <h2><i class="icon-check"></i></i>Done
                            <button class="btn" ng-click="addCard(board4, 'board4')">Add a card</button>
                        </h2>
                    </div>
                    <ul class="column" sortable-selector="ul.column" sortable ng-model="board4">
                        <li ng-repeat="item in board4" ng-dblclick="editCard(item)">
                            <div class="btn btn-info btn-draggable" ng-hide="isBeingEdited(item)">
                                {{item.title}}
                            </div>
                            <form ng-submit="doneEditing(item)" ng-show="isBeingEdited(item)">
                                <input class="cardEditable" todo-focus="isBeingEdited(item)" todo-blur="doneEditing(item)" ng-model="item.title">
                                <button ng-click="removeCard(board4, item)" class="removeCard btn" type="button">X</button>
                            </form>
                        </li>
                    </ul>

                    </div>

                </div>

            </div>

    </div>
	
	
</div>
