<header id="header" ng-controller="HeaderController">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#/dashboard">
                    <img class="grayscale" src="/assets/220logoWide2.png" style="width:180px; height:64px" />
                    <img class="color" src="/assets/220logoWide.png" style="width:180px; height:64px"/>
                </a>
                <div class="navbar-content">
                    <ul class="nav nav-tabs pull-left offset2">
                        <!--<li ng-class="{active: routeIs('/dashboard')}">-->
                            <!--<a href="#/dashboard"><i class="icon-home icon-large"></i> Dashboard</a>-->
                        <!--</li>-->
                        <li ng-class="{active: routeIs('/vision')}">
                            <a ng-href="{{buildUrl('#/vision')}}" ng-class=isDisabled()><i class="icon-credit-card icon-large"></i> Vision</a>
                        </li>
                        <!--<li ng-class="{active: routeIs('/experiments')}">-->
                            <!--<a  ng-click="toastr.info('Thank you for your interest. We are working on this!', 'Coming soon!')" ng-class=isDisabled()><i class="icon-beaker icon-large"></i> Experiments</a>-->
                        <!--</li>-->

                        <!--<li ng-class="{active: routeIs('/businessplan')}" >-->
                        <!--<a ng-href="{{buildUrl('#/businessplan')}}" ng-class=isDisabled()><i class="icon-align-justify"></i> Business plan</a>-->
                        <!--</li>-->
                        <!--<li ng-class="{active: routeIs('/finance')}" >-->
                            <!--<a ng-href="{{buildUrl('#/finance')}}" ng-class=isDisabled()><i class="icon-bar-chart icon-large"></i> Finance</a>-->
                        <!--</li>-->
                        <li ng-class="{active: routeIs('/risks')}" >
                            <a ng-href="{{buildUrl('#/risks')}}" ng-class=isDisabled()><i class="icon-road icon-large"></i> Strategy</a>
                        </li>
                        <!--<li ng-class="{active: routeIs('/goals')}" >-->
                            <!--<a ng-href="{{buildUrl('#/goals')}}" ng-class=isDisabled()><i class="icon-tasks icon-large"></i> Goals</a>-->
                        <!--</li>-->

                        <li ng-class="{active: routeIs('/experiments')}">
                            <a ng-href="{{buildUrl('#/experiments')}}" ng-class=isDisabled()><i class="icon-beaker icon-large"></i> Product</a>
                        </li>
                    </ul>


                    <ul class="nav nav-tabs pull-right">
                        <li ng-class="{active: routeIs('/help')}"><a  ng-click="toastr.info('Thank you for your interest. We are working on this!', 'Coming soon!')"><i class="icon-question-sign"></i></a>
                        </li>
                        <li ng-class="{active: routeIs('/export')}"><a  href="#/export"><i class="icon-share"></i></a>
                        </li>
                        <li>
                            <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                                <i class="icon-user"></i> {{currentUser.email}} <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li>
                                    <a href="#">Settings</a>
                                </li>
                                <li>
                                    <a href="/users/sign_out" data-method="delete" rel="nofollow">Logout...</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>