<header id="header" ng-controller="HeaderController">

    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#"><img src="/assets/220logoWide.png"
                                               width="180"></a>
                <div class="navbar-content">
                    <ul class="nav nav-tabs pull-right">
                        <li>
                            <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                                <i class="icon-user"></i> {{currentUser.email}} <b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                <li>
                                    <a href="#">Settings</a>
                                </li>
                                <li>
                                    <a href="/users/sign_out" data-method="delete" rel="nofollow">Logout...</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="span10 offset2">
            <ul class="breadcrumb nav nav-tabs pull-right">
                <li ng-class="{active: routeIs('/dashboard')}">
                    <a href="#/dashboard"><i class="icon-home"></i> Dashboard</a>
                </li>
                <li ng-class="{active: routeIs('/canvas')}">
                    <a ng-href="{{buildUrl('#/canvas')}}" ng-class=isDisabled()><i class="icon-credit-card"></i> Canvas</a>
                </li>
                <li ng-class="{active: routeIs('/experiments')}">
                    <a ng-href="{{buildUrl('#/experiments')}}" ng-class=isDisabled()><i class="icon-beaker"></i> Experiments</a>
                </li>

                <li ng-class="{active: routeIs('/businessplan')}" >
                    <a ng-href="{{buildUrl('#/businessplan')}}" ng-class=isDisabled()><i class="icon-align-justify"></i> Business plan</a>
                </li>
                <li ng-class="{active: routeIs('/finance')}" >
                    <a ng-href="{{buildUrl('#/finance')}}" ng-class=isDisabled()><i class="icon-signal"></i> Finance</a>
                </li>
                <li ng-class="{active: routeIs('/risks')}" >
                    <a ng-href="{{buildUrl('#/risks')}}" ng-class=isDisabled()><i class="icon-road"></i> Risks</a>
                </li>
                <li ng-class="{active: routeIs('/goals')}" >
                    <a ng-href="{{buildUrl('#/goals')}}" ng-class=isDisabled()><i class="icon-tasks"></i> Goals</a>
                </li>
            </ul>
        </div>
        <div class="span5">
            <div class="offset1 pull-right">

                <ul class="breadcrumb nav nav-tabs pull-right">
                    <li ng-class="{active: routeIs('/checklist')}"><a  href="#/checklist"><i class="icon-ok-sign"></i> Checklist</a>
                    </li>
                    <li ng-class="{active: routeIs('/help')}"><a  href="#/help"><i class="icon-question-sign"></i> Help</a>
                    </li>
                    <li ng-class="{active: routeIs('/export')}"><a  href="#/export"><i class="icon-share"></i> Export</a>
                    </li>


                </ul>

            </div>
        </div>

</header>