<div ng-controller ="HypothesesController">
    <div class='contentWrapper ng-cloak'>
                <div class='content'>

                <div class="row-fluid">
                    <div class="columnContainer hypothesesContainer">

                    <div class="columnHeader">
                        <h2><i class="icon-rocket"></i> In Progress
                        <button class="btn" ng-click="addHypothesis(board1, 'board1')">Add Hypothesis</button>
                        </h2>
                    </div>
                    <ul class="column" sortable-selector="ul.column" sortable ng-model="board1">

                        <li ng-repeat="item in board1" ng-dblclick="editHypothesis(item)">
                            <div class="btn btn-info btn-draggable" ng-hide="isBeingEdited(item)">
                                {{item.title}}
                            </div>
                            <form ng-submit="doneEditing(item)" ng-show="isBeingEdited(item)">
                                <input class="cardEditable" todo-focus="isBeingEdited(item)" todo-blur="doneEditing(item)" ng-model="item.title">
                                <button ng-click="removeHypothesis(board1, item)" class="removeHypothesis btn" type="button">X</button>
                            </form>
                        </li>
                    </ul>
                </div>
                    <div class="columnContainer hypothesesContainer">
                    <div class="columnHeader">
                        <h2><i class="icon-check-empty"></i> Validated
                            <!--<button class="btn" ng-click="addHypothesis(board2, 'board2')">Add a card</button>-->
                        </h2>
                    </div>
                    <ul class="column" sortable-selector="ul.column" sortable ng-model="board2">
                        <li ng-repeat="item in board2" ng-dblclick="editHypothesis(item)">
                            <div class="btn btn-info btn-draggable" ng-hide="isBeingEdited(item)">
                                {{item.title}}
                            </div>
                            <form ng-submit="doneEditing(item)" ng-show="isBeingEdited(item)">
                                <input class="cardEditable" todo-focus="isBeingEdited(item)" todo-blur="doneEditing(item)" placeholder="Edit Me" ng-model="item.title">
                                <button ng-click="removeHypothesis(board2, item)" class="removeHypothesis btn" type="button">X</button>
                            </form>
                        </li>
                    </ul>
                </div>
                    <div class="columnContainer hypothesesContainer">
                    <div class="columnHeader">
                        <h2><i class="icon-check-minus"></i> Doing
                            <!--<button class="btn" ng-click="addHypothesis(board3, 'board3')">Add a card</button>-->
                        </h2>
                    </div>
                    <ul class="column" sortable-selector="ul.column" sortable ng-model="board3">
                        <li ng-repeat="item in board3" ng-dblclick="editHypothesis(item)">
                            <div class="btn btn-info btn-draggable" ng-hide="isBeingEdited(item)">
                                {{item.title}}
                            </div>
                            <form ng-submit="doneEditing(item)" ng-show="isBeingEdited(item)">
                                <input class="cardEditable" todo-focus="isBeingEdited(item)" todo-blur="doneEditing(item)" ng-model="item.title">
                                <button ng-click="removeHypothesis(board3, item)" class="removeHypothesis btn" type="button">X</button>
                            </form>
                        </li>
                    </ul>
                    </div>
                </div>

            </div>

    </div>
	
	
</div>
