<div ng-controller="HypothesesController">
    <div class='contentWrapper ng-cloak'>
        <div class='content'>

            <div class="row-fluid">
                <div class="columnContainer hypothesesContainer">
                    <div class="columnHeader">
                        <h2><i class="icon-rocket"></i> Validated
                        </h2>
                    </div>
                    <ul class="column validated" sortable-selector="ul.column" sortable ng-model="board1">

                        <li ng-repeat="item in board1" ng-dblclick="editCard(item)">
                            <div class="btn btn-info btn-draggable" ng-hide="isBeingEdited(item)">
                                {{item.title}}
                            </div>
                            <form ng-submit="doneEditing(item)" ng-show="isBeingEdited(item)">
                                <input class="cardEditable" todo-focus="isBeingEdited(item)"
                                       todo-blur="doneEditing(item)" ng-model="item.title">
                                <button ng-click="removeCard(board1, item)" class="removeHypothesis btn" type="button">
                                    <i class="icon-trash"></i>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>

                <div class="columnContainer hypothesesContainer">
                    <div class="columnHeader">
                        <h2><i class="icon-rocket"></i> Hypotheses
                            <button class="btn" ng-click="addCard('board2')">Add Hypothesis</button>
                        </h2>
                    </div>
                    <ul class="columnAdd">
                        <li ng-show="isBeingAdded()">
                            <form ng-submit="doneAdding()">
                                <input class="cardEditable" todo-focus="isBeingAdded()" todo-blur="doneAdding()"
                                       placeholder="Some task" ng-model="cardBeingAdded.title">
                                <button ng-click="removeCard(board2, item)" class="removeCard btn" type="button"><i
                                        class="icon-trash"></i></button>
                            </form>

                        </li>
                    </ul>
                    <ul class="column" sortable-selector="ul.column" sortable ng-model="board2">
                        <li ng-repeat="item in board2" ng-dblclick="editCard(item)">
                            <div class="btn btn-info btn-draggable" ng-hide="isBeingEdited(item)">
                                {{item.title}}
                            </div>
                            <form ng-submit="doneEditing(item)" ng-show="isBeingEdited(item)">
                                <input class="cardEditable" todo-focus="isBeingEdited(item)"
                                       todo-blur="doneEditing(item)" ng-model="item.title">
                                <button ng-click="removeCard(board2, item)" class="removeHypothesis btn" type="button">
                                    <i class="icon-trash"></i>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>

                <div class="columnContainer hypothesesContainer">
                    <div class="columnHeader">
                        <h2><i class="icon-rocket"></i> Invalidated
                        </h2>
                    </div>
                    <ul class="column invalidated" sortable-selector="ul.column" sortable ng-model="board3">

                        <li ng-repeat="item in board3" ng-dblclick="editCard(item)">
                            <div class="btn btn-info btn-draggable" ng-hide="isBeingEdited(item)">
                                {{item.title}}
                            </div>
                            <form ng-submit="doneEditing(item)" ng-show="isBeingEdited(item)">
                                <input class="cardEditable" todo-focus="isBeingEdited(item)"
                                       todo-blur="doneEditing(item)" ng-model="item.title">
                                <button ng-click="removeCard(board3, item)" class="removeHypothesis btn" type="button">
                                    <i class="icon-trash"></i>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>


</div>
