<section id="todoapp">

    <header id="header">
        <form id="todo-form" ng-submit="addProject()">
            <input id="new-todo" placeholder="Type here an idea or a project..." ng-model="newProject" autofocus>
        </form>
    </header>

    <section id="main" ng-show="projects.length" ng-cloak>
        <ul id="todo-list">
            <li ng-repeat="project in projects | reverse" ng-class="{completed: !project.activated, editing: project == editedProject}">
                <div class="view">
                    <input class="toggle" type="checkbox" ng-click="activateProject(project)" ng-model="project.activated">

                    <label ng-dblclick="editProject(project)">{{project.title}}</label>
                    <button class="destroy" ng-click="removeProject(project)"></button>
                </div>
                <form ng-submit="doneEditing(project)">
                    <input class="edit" ng-model="project.title" todo-blur="doneEditing(project)" todo-focus="project == editedProject">
                </form>
            </li>

        </ul>
    </section>

</section>