<section id="todoapp">

    <header id="header">
        <form id="todo-form" class="project-title" ng-submit="addProject()">
            <input id="new-todo" placeholder="Type here an idea or a project..." ng-model="newProject" autofocus>
        </form>
    </header>

    <section id="main" ng-show="projects.length" ng-cloak>
        <ul class="todo-list project-list">
            <li ng-repeat="project in projects | reverse" ng-class="{completed: !project.activated, editing: project == editedProject}">
                <div class="view">
                    <input class="toggle" type="checkbox" ng-click="activateProject(project)" ng-model="project.activated">

                    <label ng-dblclick="editProject(project)">{{project.title}}</label>
                    <button class="destroy" ng-click="removeProject(project)"></button>
                </div>
                <form ng-submit="doneEditing(project)">
                    <input class="edit" ng-model="project.title" todo-blur="doneEditing(project)" todo-focus="project == editedProject">
                </form>
            </li>

        </ul>
    </section>



</section>

<section>
    <div class="row">
        <div clas="span4">
            <div class="learn"><a href="#hypotheses">Hypotheses Validation</a><br><a href="#experiments">Experiments</a></div>
        </div>
        <div clas="span4">
            <img src="/assets/LeanStartupProcess.png">
        </div>
        <div clas="span4">
            <div class="build"><a href="#bmc">Business Model Canvas</a><br><a href="#agile">Agile Product Development</a></div>
        </div>
    </div>

    <div class="measure"><a href="#interviews">Interviews &amp; surveys</a><br><a href="#innovation">Innovation Accounting</a></div>
    <div class="show"></div>
</section>