 <div class="finance"  ng-controller= "FinanceController">
    <div id="revenues">
        <h2><i class="icon-list"></i> Revenues</h2>
        <table>
            <tr class="column-label">
                <td colspan="2"><b>{{revenues[0].year}}</b></td>
                <td ng-repeat="month in months">{{month | capitalize}}</td>
            </tr>
            <tr ng-repeat="row in revenues">
                <td>{{row.rowNumber}}</td>
                <td class="row-label"><input ng-model="row.rowName" todo-blur="doneEditing(row)"></input></td>

                <td class="row-data"><div><input ng-model="row.january" todo-blur="doneEditing(row)"></input></div></td>
                <td class="row-data"><div><input ng-model="row.february" todo-blur="doneEditing(row)"></input></div></td>
                <td class="row-data"><div><input ng-model="row.march" todo-blur="doneEditing(row)"></input></div></td>
                <td class="row-data"><div><input ng-model="row.april" todo-blur="doneEditing(row)"></input></div></td>
                <td class="row-data"><div><input ng-model="row.may" todo-blur="doneEditing(row)"></input></div></td>
                <td class="row-data"><div><input ng-model="row.june" todo-blur="doneEditing(row)"></input></div></td>
                <td class="row-data"><div><input ng-model="row.july" todo-blur="doneEditing(row)"></input></div></td>
                <td class="row-data"><div><input ng-model="row.august" todo-blur="doneEditing(row)"></input></div></td>
                <td class="row-data"><div><input ng-model="row.september" todo-blur="doneEditing(row)"></input></div></td>
                <td class="row-data"><div><input ng-model="row.october" todo-blur="doneEditing(row)"></input></div></td>
                <td class="row-data"><div><input ng-model="row.november" todo-blur="doneEditing(row)"></input></div></td>
                <td class="row-data"><div><input ng-model="row.december" todo-blur="doneEditing(row)"></input></div></td>
                <td>
                    <button class="btn btn-danger" ng-click="deleteRow(revenues, row)">Remove Revenue</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="row-label">Total revenues</td>
                <td class="row-data" ng-repeat="month in months"><div>{{calculateRevenueForMonth(month)}}</div></td>
                <td>{{calculateRevenueForYear()}}</td>
            </tr>
        </table>
        <button class="btn" ng-click="addRevenueRow(revenues)">Add Revenue</button>
    </div>

    <div id="expenses">
        <h2><i class="icon-list icon-small"></i> Expenses</h2>
        <table>
            <tr class="column-label">
                <td colspan="2"><b>{{expenses[0].year}}</b></td>
                <td ng-repeat="month in months">{{month | capitalize}}</td>
            </tr>
            <tr ng-repeat="row in expenses">
                <td>{{row.rowNumber}}</td>
                <td class="row-label"><input ng-model="row.rowName" todo-blur="doneEditing(row)"></input></td>

                <td class="row-data"><div><input ng-model="row.january" todo-blur="doneEditing(row)"></input></div></td>
                <td class="row-data"><div><input ng-model="row.february" todo-blur="doneEditing(row)"></input></div></td>
                <td class="row-data"><div><input ng-model="row.march" todo-blur="doneEditing(row)"></input></div></td>
                <td class="row-data"><div><input ng-model="row.april" todo-blur="doneEditing(row)"></input></div></td>
                <td class="row-data"><div><input ng-model="row.may" todo-blur="doneEditing(row)"></input></div></td>
                <td class="row-data"><div><input ng-model="row.june" todo-blur="doneEditing(row)"></input></div></td>
                <td class="row-data"><div><input ng-model="row.july" todo-blur="doneEditing(row)"></input></div></td>
                <td class="row-data"><div><input ng-model="row.august" todo-blur="doneEditing(row)"></input></div></td>
                <td class="row-data"><div><input ng-model="row.september" todo-blur="doneEditing(row)"></input></div></td>
                <td class="row-data"><div><input ng-model="row.october" todo-blur="doneEditing(row)"></input></div></td>
                <td class="row-data"><div><input ng-model="row.november" todo-blur="doneEditing(row)"></input></div></td>
                <td class="row-data"><div><input ng-model="row.december" todo-blur="doneEditing(row)"></input></div></td>
                <td>
                    <button class="btn btn-danger" ng-click="deleteRow(expenses, row)">Remove Expense</button>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="row-label">Total expenses</td>
                <td class="row-data" ng-repeat="month in months"><div>{{calculateExpenseForMonth(month)}}</div></td>
                <td>{{calculateExpenseForYear()}}</td>
            </tr>
        </table>
        <button class="btn" ng-click="addExpenseRow(expenses)">Add Expense</button>
    </div>

    <div id="income">
        <h2><i class="icon-list icon-small"></i> Profit</h2>
        <table>
            <tr class="column-label">
                <td colspan="2"><b>{{expenses[0].year}}</b></td>
                <td ng-repeat="month in months">{{month | capitalize}}</td>
            </tr>
            <tr>
                <td></td>
                <td class="row-label">Total Income</td>
                <td class="row-data" ng-repeat="month in months"><div>{{calculateRevenueForMonth(month) - calculateExpenseForMonth(month)}}</div></td>
                <td>{{calculateRevenueForYear() - calculateExpenseForYear()}}</td>
            </tr>

        </table>
    </div>
 </div>

 <div class="finance" ng-controller="FinanceController">
     <div class="row">
         <div><br></div>
         <div class="span8 offset3">
             <chart value='{{chartData}}' type="area" style="width: 100%; height: 300px; margin: 0 auto"></chart>
         </div>
         <div class="span4 offset1">
             <h4>Discount rate:</h4>
             <input name="discountRate" type="text" placeholder="{{discountRate}}" ng-model="discountRate">
             <h4>Net Present Value (NPV):</h4><p>{{calculateNpv(getIncomeArray())}}</p>
             <h4>Return On Investment (ROI):</h4><p>{{calculateRoi()}}%</p> 
			 <!-- <h4>Internal Rate of Return (IRR):</h4><p>{{calculateIrr()}}%</p> -->
         </div>
     </div>
 </div>
