<div id="risksMatrix">
    <h3>Risks register <button class="btn" ng-click="">Add a risk</button></h3>
    <table id="bizcanvas" border="1">
        <tr>
            <th>
                <h4>Risk</h4>
            </th>
            <th>
                <h4>Priority</h4>
            </th>
            <th>
                <h4>Probability</h4>
            </th>
            <th>
                <h4>Impact</h4>
            </th>
            <th>
                <h4>Exposure</h4>
            </th>
            <th>
                <h4>Risk owner</h4>
            </th>
            <th>
                <h4>How to test</h4>
            </th>
        </tr>

        <tr>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>
            <td>
            </td>

        </tr>
    </table>
</div>