<table class="table table-bordered">
    <tr>
        <th>
            <h4>Strengths</h4>
        </th>
        <th>
            <h4>Weaknesses</h4>
        </th>
    </tr>

    <tr>
        <td>
            <table class="table table-bordered">
                <tr><td>
                    <tag-input class="input-large" ng-model="risks.strengths"/>
                </td>
                </tr>
            </table>

        </td>
        <td>
            <table class="table table-bordered">
                <tr><td>
                    <tag-input class="tagsRisks" ng-model="risks.weaknesses"/>
                </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <th>
            <h4>Opportunities</h4>
        </th>
        <th>
            <h4>Threats</h4>
        </th>
    </tr>

    <tr>
        <td>
            <table class="table table-bordered">
                <td><b>P</b>olitical</td><td><tag-input class="tagsRisks" ng-model="risks.opportunitiesPolitical"/></td>
                </tr>
                <tr> <td><b>E</b>conomical</td><td><tag-input class="tagsRisks" ng-model="risks.opportunitiesEconomical"/></td>
                </tr>
                <tr> <td><b>S</b>ociological</td><td><tag-input class="tagsRisks" ng-model="risks.opportunitiesSociological"/></td>
                </tr>
                <tr> <td><b>T</b>echnical</td><td><tag-input class="tagsRisks" ng-model="risks.opportunitiesTechnical"/></td>
                </tr>
            </table>
        </td>
        <td>
            <table class="table table-bordered">
                <td><b>P</b>olitical</td><td><tag-input class="tagsRisks" ng-model="risks.threatsPolitical"/></td>
                </tr>
                <tr> <td><b>E</b>conomical</td><td><tag-input class="tagsRisks" ng-model="risks.threatsEconomical"/></td>
                </tr>
                <tr> <td><b>S</b>ociological</td><td><tag-input class="tagsRisks" ng-model="risks.threatsSociological"/></td>
                </tr>
                <tr> <td><b>T</b>echnical</td><td><tag-input class="tagsRisks" ng-model="risks.threatsTechnical"/></td>
                </tr>
            </table>
        </td>
    </tr>
</table>


<table id="bizcanvas" border="1">
    <tr>
        <th>
            <h4>Risk</h4>
        </th>
        <th>
            <h4>Type</h4>
        </th>
        <th>
            <h4>Level</h4>
        </th>
        <th>
            <h4>Priority</h4>
        </th>
        <th>
            <h4>Who to test</h4>
        </th>
        <th>
            <h4>How to test</h4>
        </th>
    </tr>

    <tr>
        <td>
        </td>
        <td>
        </td>
        <td>
        </td>
        <td>

        </td>
        <td>

        </td>
        <td>

        </td>
    </tr>
</table>