<secondaryheader id="secondaryheader">
    <div class="row">
        <div class="span5 center">
            <ul class="breadcrumb nav nav-tabs">
                <li>
                    <a ng-class="{active: isCurrentView('swotpestle')}"
                       ng-click="changeView('swotpestle')"><i class="icon-cogs"></i> SWOT/PESTLE Analysis</a>
                </li>
                <li>
                    <a ng-class="{active: isCurrentView('risksregister')}"
                       ng-click="changeView('risksregister')"><i class="icon-credit-card"></i> Risks Register</a>
                </li>
            </ul>
        </div>
    </div>
</secondaryheader>

<div class="risks" ng-include='getCurrentView()'>
</div>


