<secondaryheader id="secondaryheader">
    <div class="row">
        <div class="span5 center">
            <ul class="breadcrumb nav nav-tabs">
                <li>
                    <a ng-class="{active: isCurrentView('canvas')}"
                       ng-click="changeView('canvas')"><i class="icon-credit-card"></i> Business Model Canvas</a>
                </li>
                <li>
                    <a ng-class="{active: isCurrentView('checklist')}"
                       ng-click="changeView('checklist')"><i class="icon-ok-sign"></i> Founder's Checklist</a>
                </li>
            </ul>
        </div>
    </div>
</secondaryheader>


<div class="vision" ng-include='getCurrentView()'>
</div>