// Variables to customize the look and feel of Bootstrap

$bodyBackground: #f8f6ed;
$linkColor : #222;

$black : #111;
$bluedark:#2D83A6;
$red:  #FD3F55;
$brownDark: #d2cfc2;


$headerHeight:280px;


//$btnPrimaryBackground: #333;
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

$sansFontFamily: "Open Sans","Helvetica Neue", Helvetica, Arial, sans-serif;
$serifFontFamily: Georgia, "Times New Roman", Times, serif;
$baseFontSize: 12px;

$tableBackgroundHover : rgba(#ccc, 0.3);

@import "compass/css3";
@import "fineuploader";
@import "compass_twitter_bootstrap_awesome";

// @import "compass_twitter_bootstrap_responsive";
@import "select2";

img{
	max-width: auto;
}

.navbar-inner{
	background: rgba($bodyBackground, 0.8);
}
.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner{
	@include box-shadow(none);
	border: none;
}


.hide{
	display: none !important;

}

a:hover{
	text-decoration: none;
	color: #FD3F55;
}

// BUTTONS


.btn{
	background: #d2cfc2;
	border: 1px solid darken(#d2cfc2,3);
	@include transition-property("all");
	@include transition-duration(0.2s);
	@include text-shadow(none);

	&:hover{
		background: #FD3F55;
		color:#fff;
		border: 1px solid darken(#FD3F55, 10);
		@include text-shadow(rgba(#000, 0.5) 1px 1px 0);
	}
}

.btn-round{
	@include border-radius(20px);

}

.btn-circle-icon{
	@include border-radius(20px);
	@include min-width(40px);
}



header{
  top: 0;
  left: 0;
  background: rgba($bodyBackground,.9);
  width: 100%;
  border-top: 6px solid #222;
  // border-bottom: 2px solid #333;
  z-index: 100;
  @include box-shadow(rgba(#000, 0.15) 0px 2px 10px);
  @include transition-property("height, box-shadow");
  @include transition-duration(0.2s);
	.header-links{
		position: absolute;
		right: 20px;
		top: 20px;

		a{
			color: $black;
		}
	}

	.header-logo{
		height: 100%;
		width: 100%;
		display: block;
		background: url('logo.png') no-repeat center 30%;
		background-size: 516px;
		text-indent: -9999px;
		@include transition-property("background-size");
		@include transition-duration(0.2s);

	}

	&.minimize{
		height: 100px;
		.header-logo{
			background-size: 0px;
		}
	}
}

.content-holder{
	width: 100%
}



