<p>Hi there,</p>
<br>

<p>Thank you for joining Startupality!</p>
<p>Building and managing a startup just got easier... Unlike other products we have adapted the app specifically for you. You’ll find that it’s a great way to improve your strategy and manage your business decisions.</p>

<p>You are all ready to go as soon as you confirm your email through the link below:</p>
<p><%= link_to 'Click here to confirm your account', confirmation_url(@resource, :confirmation_token => @token) %></p>

<br>
<p>Welcome aboard,</p>
<p>The Startupality Team</p>

